outputs/*
results/*
src/__pycache__/*
src/.tmp/*
euler/*
src/train.sh
src/train2.sh
src/eval.sh
src/test.py
src/test2.py
src/train_model1.py
src/train_model2.py
src/train_model3.py
preprocessing/*
*.pyc
